<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta property="og:url" content="https://guitar-fretboard-quiz.herokuapp.com/">
    <meta property="og:type" content="website">
    <meta property="og:image" content=<%= asset_url('eyecatch.png')  %>>
    <meta property="og:title" content="<%= t('defaults.app_name') %>">
    <title><%= t('defaults.app_name') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
